*~
*.pyc
*.pt
__pycache__
*.zip
*.pkl
bots/**/lib
bots/**/libs
bots/**/data
bots/**/build
**/build
docs/report/*.aux
docs/report/*.pdf
docs/report/*.log
*.exe
.DS_Store
bots/cpp_player/.vscode/settings.json
bots/cpp_player/.vscode/c_cpp_properties.json
